@model WebApplication1.Models.Course
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> userManager
@{
    Layout = "_Layout";
    List<CourseContent> courseContents = ViewBag.courseContents;
    var user = await userManager.GetUserAsync(User);
    var role = user.Role;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="mt-5">
        <h4>Course</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        @*<h1 class="display-4">
                                @Html.DisplayNameFor(model => model.Title)
                            </h1>*@
                        <h1 class="display-4">
                            @Html.DisplayFor(model => model.Title)
                        </h1>
                        <hr class="my-4">
                        <div class="badge badge-secondary badge-lg">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                        <div class="badge badge-info badge-lg">
                            Instructor
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.User.UserName)
                        </p>
                        <div class="badge badge-success badge-lg">
                            @Html.DisplayNameFor(model => model.Category)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.Category)
                        </p>
                        <div class="badge badge-warning badge-lg">
                            @Html.DisplayNameFor(model => model.EnrollmentCount)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.EnrollmentCount)
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="@Model.ImageUrl" alt="Course Image" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <h1>
        Content
    </h1>
    <hr />
    <div>
        @foreach (var item in courseContents)
        {
            <div class="card">
                <div class="card-header" id="heading@item.Id">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@item.Id" aria-expanded="true" aria-controls="collapse@item.Id">
                            @item.Title
                        </button>
                        @if (item.IsCompleted)
                        {
                            <span class="badge badge-success ml-2">Completed</span>
                        }
                    </h5>
                </div>
                <div id="@item.Id" class="collapse" aria-labelledby="heading@item.Id" data-parent="#accordion">
                    <div class="card-body">
                        @item.Content
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-5">
        @if (role!="Student")
            {
        <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> 
            }
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
    </div>




</body>
</html>
